<script setup>
import { useUserStore } from "@/domains/user/stores/userStore";
import { useVuelidate } from "@vuelidate/core";
import { email, minLength, required, sameAs } from "@vuelidate/validators";
import { computed, ref } from "vue";

const userStore = useUserStore();
const user = ref({
    role: userStore.roles[0].key,
    firstname: "",
    lastname: "",
    email: "",
    password: "",
    password_confirmation: "",
});
const rules = computed(() => ({
    user: {
        role: { required },
        firstname: { required },
        email: { required, email },
        password: { required, minLength: minLength(8) },
        password_confirmation: {
            required,
            minLength: minLength(8),
            sameAs: sameAs(user.value.password),
        },
    },
}));
const validator = useVuelidate(rules, { user });

async function add() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await userStore.store(user.value);
    }
}
</script>

<template>
    <div class="mb-3">
        <label class="form-label" for="role"
            >{{ "role" }}<span class="text-danger">*</span></label
        >
        <select
            class="form-select"
            id="role"
            :class="{ 'is-invalid': validator.user.role.$error }"
            v-model="user.role"
        >
            <option
                v-for="(role, index) in userStore.roles"
                :value="role.key"
                :key="index"
            >
                {{ role.name }}
            </option>
        </select>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label class="form-label" for="firstname"
                >{{ "firstname" }}<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="firstname"
                type="text"
                :class="{ 'is-invalid': validator.user.firstname.$error }"
                v-model="user.firstname"
                autofocus
            />
        </div>
        <div class="col-6">
            <label class="form-label" for="lastname">{{ "lastname" }}</label>
            <input
                class="form-control"
                id="lastname"
                type="text"
                v-model="user.lastname"
            />
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="email"
            >{{ "email" }}<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="email"
            type="email"
            :class="{ 'is-invalid': validator.user.email.$error }"
            v-model="user.email"
        />
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">
            {{ "password" }}<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="password"
            type="password"
            :class="{ 'is-invalid': validator.user.password.$error }"
            v-model="user.password"
        />
    </div>

    <div class="mb-3">
        <label class="form-label" for="password_confirmation">
            {{ "password_confirmation" }}<span class="text-danger">*</span>
        </label>
        <input
            class="form-control"
            id="password_confirmation"
            type="password"
            :class="{
                'is-invalid': validator.user.password_confirmation.$error,
            }"
            v-model="user.password_confirmation"
        />
    </div>
    <div class="modal-footer">
        <button @click="add()" class="btn btn-primary">Save</button>
    </div>
</template>
