<script setup>
import { useUserStore } from "@/domains/user/stores/userStore";
import { useVuelidate } from "@vuelidate/core";
import { email, required } from "@vuelidate/validators";
import { computed } from "vue";

const userStore = useUserStore();
const rules = computed(() => ({
    user: {
        role: { required },
        firstname: { required },
        email: { required, email },
    },
}));
const validator = useVuelidate(rules, { user: userStore.selectedUser });

async function update() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await userStore.update();
    }
}
</script>

<template>
    <div class="mb-3">
        <label class="form-label" for="role"
            >{{ "role" }}<span class="text-danger">*</span></label
        >
        <select
            class="form-select"
            id="role"
            :class="{ 'is-invalid': validator.user.role.$error }"
            v-model="userStore.selectedUser.role"
        >
            <option
                v-for="(role, index) in userStore.roles"
                :value="role.key"
                :key="index"
            >
                {{ role.name }}
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" for="firstname"
            >{{ "firstname" }}<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="firstname"
            type="text"
            :class="{ 'is-invalid': validator.user.firstname.$error }"
            v-model="userStore.selectedUser.firstname"
            @keyup.enter="update()"
        />
    </div>

    <div class="mb-3">
        <label class="form-label" for="lastname">{{ "lastname" }}</label>
        <input
            class="form-control"
            id="lastname"
            type="text"
            v-model="userStore.selectedUser.lastname"
            @keyup.enter="update()"
        />
    </div>

    <div class="mb-3">
        <label class="form-label" for="email"
            >{{ "email" }}<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="email"
            type="email"
            :class="{ 'is-invalid': validator.user.email.$error }"
            v-model="userStore.selectedUser.email"
            @keyup.enter="update()"
        />
    </div>

    <button class="btn btn-primary btn-block" @click="update()">
        {{ "save_changes" }}
    </button>
</template>
