<script setup>
import { useAuthStore } from "@/domains/user/stores/authStore";
import { useUserStore } from "@/domains/user/stores/userStore";
import Paginator from "@/support/components/Paginator.vue";
import { onMounted } from "vue";
import Modal from "./Modal.vue";

const userStore = useUserStore();
const authStore = useAuthStore();

onMounted(() => {
    userStore.paginate();
    userStore.getRoles();
});

const add = () => {
    userStore.editing = false;
    userStore.creating = true;
    userStore.showModal = true;
};

const edit = (user) => {
    userStore.selectedUser = Object.assign({}, user);
    userStore.creating = false;
    userStore.editing = true;
    userStore.showModal = true;
};

const destroy = (user) => {
    userStore.selectedUser = user;
    if (confirm("confirm_delete")) {
        userStore.destroy();
    }
};
</script>
<template>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Manage Users</h3>
                    <p class="text-subtitle text-muted">
                        Navbar will appear on the top of the page.
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav
                        aria-label="breadcrumb"
                        class="breadcrumb-header float-start float-lg-end"
                    >
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <li
                                class="breadcrumb-item active"
                                aria-current="page"
                            >
                                Manage Users
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="row">
            <div class="col-12">
                <div class="card">
                    <div v-if="userStore.users.length > 0">
                        <div class="card-header">
                            <ul class="nav nav-pills flex-column flex-md-row">
                                <li class="nav-item">
                                    <button
                                        class="btn btn-primary"
                                        v-if="authStore.can('add_user')"
                                        @click="add()"
                                    >
                                        <i class="fa-solid fa-plus"></i>
                                        Add new user
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <hr />
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-lg">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th style="width: 25%">Role</th>
                                                <th class="text-center">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(
                                                    user, index
                                                ) in userStore.users"
                                                :key="user.id"
                                            >
                                                <td>
                                                    {{
                                                        userStore.meta.from +
                                                        index
                                                    }}.
                                                </td>
                                                <td>
                                                    {{ user.firstname }}
                                                    <div class="text-muted">
                                                        {{ user.email }}
                                                    </div>
                                                </td>
                                                <td>{{ user.role_name }}</td>
                                                <td class="text-center">
                                                    <button
                                                        type="button"
                                                        class="btn btn-icon btn-secondary btn-sm me-sm-1"
                                                        v-if="
                                                            authStore.can(
                                                                'edit_user'
                                                            )
                                                        "
                                                        @click.prevent="
                                                            edit(user)
                                                        "
                                                    >
                                                        <i
                                                            class="bi bi-pencil-square"
                                                        ></i>
                                                    </button>
                                                    <button
                                                        type="button"
                                                        class="btn btn-icon btn-danger btn-sm"
                                                        v-if="
                                                            authStore.can(
                                                                'delete_user'
                                                            )
                                                        "
                                                        @click.prevent="
                                                            destroy(user)
                                                        "
                                                    >
                                                        <i
                                                            class="bi bi-trash3-fill"
                                                        ></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <Paginator :store="userStore" />
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="card-body text-center">
                            <div class="mb-3 col-12 mb-0">
                                <div class="alert alert-warning">
                                    <h6 class="alert-heading mb-1">
                                        Data Not Found. Create User Now
                                    </h6>
                                </div>
                            </div>
                            <button
                                class="btn btn-primary"
                                v-if="authStore.can('add_user')"
                                @click="add()"
                            >
                                Create User
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <Modal></Modal>
</template>
