<script setup>
import { useUserStore } from "@/domains/user/stores/userStore";
import { Modal } from "bootstrap";
import { storeToRefs } from "pinia";
import { computed, onMounted, watch } from "vue";
import Add from "./Add.vue";
import Edit from "./Edit.vue";

const userStore = useUserStore();
const { showModal } = storeToRefs(userStore);
const title = computed(() => {
    let title = "user";

    if (userStore.creating) {
        title = "Add new user";
    }

    if (userStore.editing) {
        title = "Edit user";
    }

    return title;
});

let modal = Modal;

onMounted(() => {
    modal = new Modal("#userModal");
    document
        .getElementById("userModal")
        ?.addEventListener("hidden.bs.modal", () => {
            userStore.showModal = false;
            userStore.selectedUser = {};
        });
});

watch(showModal, (showModal) => {
    showModal ? modal.show() : modal.hide();
});
</script>

<template>
    <div class="modal fade" id="userModal" tabindex="-1" aria-hidden="true">
        <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">{{ title }}</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <Add v-if="userStore.creating"></Add>
                    <Edit v-if="userStore.editing"></Edit>
                </div>
            </div>
        </div>
    </div>
</template>
