<script setup>
const props = defineProps(["store"]);

const paginationStats = () => {
    let stats = "";
    if (props.store.meta.from > 0 && props.store.meta.to > 0) {
        stats += `${props.store.meta.from} &ndash; ${
            props.store.meta.to
        } ${"from"} `;
    }
    stats += props.store.meta.total;

    return stats;
};

const prev = () => {
    const url = new URL(props.store.meta.prev_page_url);
    const query = Object.fromEntries(url.searchParams.entries());
    props.store.paginate(query);
};

const next = () => {
    const url = new URL(props.store.meta.next_page_url);
    const query = Object.fromEntries(url.searchParams.entries());
    props.store.paginate(query);
};
</script>

<template>
    <div class="p-3 border-top d-flex justify-content-between">
        <div
            class="text-muted pagination-stats p-2"
            v-html="paginationStats()"
        ></div>
        <div
            class="pagination"
            v-if="
                props.store.meta.prev_page_url || props.store.meta.next_page_url
            "
        >
            <div
                class="page-item"
                :class="{ disabled: !props.store.meta.prev_page_url }"
            >
                <a class="page-link" href="#" @click.prevent="prev()"> Prev </a>
            </div>
            <div
                class="page-item"
                :class="{ disabled: !props.store.meta.next_page_url }"
            >
                <a class="page-link" href="#" @click.prevent="next()"> Next </a>
            </div>
        </div>
    </div>
</template>
