<script setup>
import { useEventFormatStore } from "@/domains/event-format/stores/event-format";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import { computed, ref } from "vue";

const store = useEventFormatStore();
const eventFormat = ref({
    name: "",
    description: "",
});
const rules = computed(() => ({
    eventFormat: {
        name: { required },
    },
}));
const validator = useVuelidate(rules, { eventFormat });

async function add() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await store.store(eventFormat.value);
    }
}
</script>

<template>
    <div class="mb-3">
        <label class="form-label" for="name"
            >{{ "name" }}<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="name"
            type="text"
            :class="{ 'is-invalid': validator.eventFormat.name.$error }"
            v-model="eventFormat.name"
            @keyup.enter="add()"
        />
    </div>

    <div class="mb-3">
        <label class="form-label" for="description">{{ "description" }}</label>
        <textarea
            class="form-control"
            id="description"
            cols="30"
            rows="3"
            v-model="eventFormat.description"
        ></textarea>
    </div>

    <button class="btn btn-primary btn-block" @click="add()">
        {{ "save" }}
    </button>
</template>
