<script setup>
import { useEventFormatStore } from "@/domains/event-format/stores/event-format";
import { useAuthStore } from "@/domains/user/stores/authStore";
import Paginator from "@/support/components/Paginator.vue";
import { onMounted } from "vue";
import Modal from "./Modal.vue";

const eventFormatStore = useEventFormatStore();
const authStore = useAuthStore();

onMounted(() => {
    eventFormatStore.paginate();
});

const add = () => {
    eventFormatStore.editing = false;
    eventFormatStore.creating = true;
    eventFormatStore.showModal = true;
};

const edit = (eventformat) => {
    eventFormatStore.selectedEventFormat = Object.assign({}, eventformat);
    eventFormatStore.creating = false;
    eventFormatStore.editing = true;
    eventFormatStore.showModal = true;
};

const destroy = (eventformat) => {
    eventFormatStore.selectedEventFormat = eventformat;
    if (confirm("confirm_delete")) {
        eventFormatStore.destroy();
    }
};
</script>
<template>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Event Formats</h3>
                    <p class="text-subtitle text-muted">
                        Navbar will appear on the top of the page.
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav
                        aria-label="breadcrumb"
                        class="breadcrumb-header float-start float-lg-end"
                    >
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <li
                                class="breadcrumb-item active"
                                aria-current="page"
                            >
                                Event Formats
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="row">
            <div class="col-12">
                <div class="card">
                    <div v-if="eventFormatStore.eventFormats.length > 0">
                        <div class="card-header">
                            <ul class="nav nav-pills flex-column flex-md-row">
                                <li class="nav-item">
                                    <button
                                        class="btn btn-primary"
                                        v-if="authStore.can('add_user')"
                                        @click="add()"
                                    >
                                        <i class="fa-solid fa-plus"></i>
                                        Add new event format
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <hr />
                        <div class="card-content">
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table table-lg">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th class="text-center">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(
                                                    eventFormat, index
                                                ) in eventFormatStore.eventFormats"
                                                :key="eventFormat.id"
                                            >
                                                <td>
                                                    {{
                                                        eventFormatStore.meta
                                                            .from + index
                                                    }}.
                                                </td>
                                                <td>{{ eventFormat.name }}</td>
                                                <td class="text-center">
                                                    <button
                                                        type="button"
                                                        class="btn btn-icon btn-secondary btn-sm me-sm-1"
                                                        v-if="
                                                            authStore.can(
                                                                'edit_event_format'
                                                            )
                                                        "
                                                        @click.prevent="
                                                            edit(eventFormat)
                                                        "
                                                    >
                                                        <i
                                                            class="bi bi-pencil-square"
                                                        ></i>
                                                    </button>
                                                    <button
                                                        type="button"
                                                        class="btn btn-icon btn-danger btn-sm"
                                                        v-if="
                                                            authStore.can(
                                                                'delete_event_format'
                                                            )
                                                        "
                                                        @click.prevent="
                                                            destroy(eventFormat)
                                                        "
                                                    >
                                                        <i
                                                            class="bi bi-trash3-fill"
                                                        ></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <Paginator :store="eventFormatStore" />
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="card-body text-center">
                            <div class="mb-3 col-12 mb-0">
                                <div class="alert alert-warning">
                                    <h6 class="alert-heading mb-1">
                                        Data Not Found. Create Event Format Now
                                    </h6>
                                </div>
                            </div>
                            <button
                                class="btn btn-primary"
                                v-if="authStore.can('add_event_format')"
                                @click="add()"
                            >
                                Create Event Format
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <Modal></Modal>
</template>
