<script setup>
import { useEventFormatStore } from "@/domains/event-format/stores/event-format";
import { Modal } from "bootstrap";
import { storeToRefs } from "pinia";
import { computed, onMounted, watch } from "vue";
import Add from "./Add.vue";
import Edit from "./Edit.vue";

const store = useEventFormatStore();
const { showModal } = storeToRefs(store);
const title = computed(() => {
    let title = "event_format";

    if (store.creating) {
        title = "add_event_format";
    }

    if (store.editing) {
        title = "edit_event_format";
    }

    return title;
});

let modal = Modal;

onMounted(() => {
    modal = new Modal("#eventFormatModal");
    document
        .getElementById("eventFormatModal")
        ?.addEventListener("hidden.bs.modal", () => {
            store.showModal = false;
            store.selectedEventFormat = {};
        });
});

watch(showModal, (showModal) => {
    showModal ? modal.show() : modal.hide();
});
</script>

<template>
    <div
        class="modal fade"
        id="eventFormatModal"
        tabindex="-1"
        aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventFormatModalLabel">
                        {{ title }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <Add v-if="store.creating"></Add>
                    <Edit v-if="store.editing"></Edit>
                </div>
                <!-- <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</template>
