<script setup>
import { useAuthStore } from "@/domains/user/stores/authStore";
import { computed, ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";

const authStore = useAuthStore();
const rules = computed(() => ({
    bank_name: { required },
    owner_name: { required },
    account_number: { required },
    branch: { required },
    city: { required },
}));

const validator = useVuelidate(rules, authStore.banking);

async function updateBanking() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await authStore.updateBanking({
            id: authStore.user.id,
            bank_name: authStore.banking.bank_name,
            owner_name: authStore.banking.owner_name,
            account_number: authStore.banking.account_number,
            branch: authStore.banking.branch,
            city: authStore.banking.city,
        });
    }
}
</script>

<template>
    <div class="card mb-4">
        <h5 class="card-header">Bank Account</h5>
        <div class="card-body">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="bank_name" class="form-label">Nama Bank</label>
                    <input
                        type="text"
                        class="form-control"
                        id="bank_name"
                        name="bank_name"
                        v-model="authStore.banking.bank_name"
                        :class="{
                            'is-invalid': validator.bank_name.$error,
                        }"
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="owner_name" class="form-label"
                        >Nama Pemilik</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="owner_name"
                        name="owner_name"
                        v-model="authStore.banking.owner_name"
                        :class="{
                            'is-invalid': validator.owner_name.$error,
                        }"
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="account_number"
                        >Nomor Rekening</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        id="account_number"
                        name="account_number"
                        v-model="authStore.banking.account_number"
                        :class="{
                            'is-invalid': validator.account_number.$error,
                        }"
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="branch" class="form-label">Cabang</label>
                    <input
                        type="text"
                        class="form-control"
                        id="branch"
                        name="branch"
                        v-model="authStore.banking.branch"
                        :class="{
                            'is-invalid': validator.branch.$error,
                        }"
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="city" class="form-label">Kota</label>
                    <input
                        type="text"
                        class="form-control"
                        id="city"
                        name="city"
                        v-model="authStore.banking.city"
                        :class="{
                            'is-invalid': validator.city.$error,
                        }"
                    />
                </div>
            </div>
            <div class="mt-2">
                <button
                    type="button"
                    @click="updateBanking()"
                    class="btn btn-primary me-2"
                >
                    Save changes
                </button>
            </div>
        </div>
    </div>
</template>
