<script setup>
import { useAuthStore } from "@/domains/user/stores/authStore";
import { computed, ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { email, required } from "@vuelidate/validators";

const authStore = useAuthStore();
const fileInput = ref(null);

const profileRules = computed(() => ({
    firstname: { required },
    email: { required, email },
}));

const profileValidator = useVuelidate(profileRules, authStore.user);

async function updateProfile() {
    const isValidated = await profileValidator.value.$validate();
    if (isValidated) {
        await authStore.updateProfile({
            id: authStore.user.id,
            firstname: authStore.user.firstname,
            lastname: authStore.user.lastname,
            email: authStore.user.email,
            organizer_name: authStore.basicInformation.organizer_name,
            phone: authStore.basicInformation.phone,
            address: authStore.basicInformation.address,
            about: authStore.basicInformation.about,
            featured_event: authStore.basicInformation.featured_event,
            instagram: authStore.basicInformation.instagram,
            twitter: authStore.basicInformation.twitter,
            facebook: authStore.basicInformation.facebook,
            profile_link: authStore.basicInformation.profile_link,
        });
    }
}

const openFileInput = () => {
    fileInput.value.click();
};

const handleFileChange = async (event) => {
    const file = event.target.files[0];
    authStore.basicInformation.profile_image = URL.createObjectURL(file);

    const formData = new FormData();
    formData.append("profile_image", file);

    authStore.updateProfileImage(formData);
};
</script>

<template>
    <div class="card mb-4">
        <h5 class="card-header">Account Details</h5>
        <!-- Account -->
        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center row">
                <div class="col-sm-2">
                    <!-- <div class="button-wrapper"> -->
                    <label
                        for="upload"
                        class="btn btn-primary me-2 mb-4 p-0"
                        tabindex="0"
                    >
                        <img
                            :src="authStore.basicInformation.profile_image"
                            alt="user-avatar"
                            class="d-none d-sm-block rounded"
                            height="100"
                            width="100"
                            @click="openFileInput"
                        />
                        <input
                            type="file"
                            ref="fileInput"
                            @change="handleFileChange"
                            class="account-file-input"
                            hidden
                            accept=".jpg,.jpeg,.png"
                        />
                    </label>
                    <!-- </div> -->
                </div>
                <div
                    class="col-sm-4 d-flex align-items-start align-items-sm-center"
                >
                    <p class="text-muted mb-0">
                        Pastikan kamu menggunggah foto kamu atau logo organizer
                        kamu karena akan ditampilkan di halaman event kamu. Kami
                        merekomendasikan gambar 100x100, max. 500KB.
                    </p>
                    <div class="vr text-muted"></div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <label for="link_profle" class="form-label"
                                >Link Profile</label
                            >
                            <div class="input-group input-group-merge">
                                <span class="input-group-text text-muted"
                                    >https://ticketing/</span
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="twitter"
                                    name="twitter"
                                    v-model="
                                        authStore.basicInformation.profile_link
                                    "
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input
                        class="form-control"
                        type="text"
                        id="firstname"
                        name="firstname"
                        v-model="authStore.user.firstname"
                        :class="{
                            'is-invalid': profileValidator.firstname.$error,
                        }"
                        autofocus
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input
                        class="form-control"
                        type="text"
                        name="lastname"
                        id="lastname"
                        v-model="authStore.user.lastname"
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input
                        class="form-control"
                        type="text"
                        id="email"
                        name="email"
                        v-model="authStore.user.email"
                        :class="{
                            'is-invalid': profileValidator.email.$error,
                        }"
                        readonly
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="organizer_name" class="form-label"
                        >Organizer Name</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="organizer_name"
                        name="organizer_name"
                        v-model="authStore.basicInformation.organizer_name"
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="phone">Phone Number</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">+62</span>
                        <input
                            type="text"
                            id="phone"
                            name="phone"
                            class="form-control"
                            placeholder="878"
                            v-model="authStore.basicInformation.phone"
                        />
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="instagram" class="form-label"
                        >Instagram Username</label
                    >
                    <div class="input-group input-group-merge">
                        <span class="input-group-text text-muted">@</span>
                        <input
                            type="text"
                            class="form-control"
                            id="instagram"
                            name="instagram"
                            v-model="authStore.basicInformation.instagram"
                        />
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="twitter" class="form-label"
                        >Twitter Username</label
                    >
                    <div class="input-group input-group-merge">
                        <span class="input-group-text text-muted">@</span>
                        <input
                            type="text"
                            class="form-control"
                            id="twitter"
                            name="twitter"
                            v-model="authStore.basicInformation.twitter"
                        />
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="facebook" class="form-label"
                        >Facebook URL</label
                    >
                    <div class="input-group input-group-merge">
                        <span class="input-group-text text-muted"
                            >https://facebook.com/</span
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="facebook"
                            name="facebook"
                            v-model="authStore.basicInformation.facebook"
                        />
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="address" class="form-label">Address</label>
                    <textarea
                        class="form-control"
                        id="address"
                        name="address"
                        rows="3"
                        v-model="authStore.basicInformation.address"
                    ></textarea>
                </div>
                <div class="mb-3 col-ms-6">
                    <label for="exampleFormControlSelect1" class="form-label"
                        >Featured Event</label
                    >
                    <select
                        class="form-select"
                        id="featured_event"
                        name="featured_event"
                        v-model="authStore.basicInformation.featured_event"
                    >
                        <option value="">Open this select event</option>
                    </select>
                </div>
            </div>
            <div class="mt-2">
                <button
                    type="button"
                    @click="updateProfile()"
                    class="btn btn-primary me-2"
                >
                    Save changes
                </button>
            </div>
        </div>
        <!-- /Account -->
    </div>
    <div class="card">
        <h5 class="card-header">Deactive Account</h5>
        <div class="card-body">
            <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                    <h6 class="alert-heading mb-1">
                        Are you sure you want to deactive your account?
                    </h6>
                    <p class="mb-0">
                        Once you deactive your account, there is no going back.
                        Please be certain.
                    </p>
                </div>
            </div>
            <div class="form-check mb-3">
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="accountActivation"
                    id="accountActivation"
                />
                <label class="form-check-label" for="accountActivation"
                    >I confirm my account deactivation</label
                >
            </div>
            <button
                type="submit"
                class="btn btn-danger deactivate-account"
                disabled
            >
                Deactivate Account
            </button>
        </div>
    </div>
</template>
