<script setup>
import { useAuthStore } from "@/domains/user/stores/authStore";
import { computed, ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";

const authStore = useAuthStore();
const rules = computed(() => ({
    ktp_number: { required },
    ktp_name: { required },
    ktp_address: { required },
}));

const validator = useVuelidate(rules, authStore.legalInformation);

async function updateLegalInformation() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await authStore.updateLegalInformation({
            id: authStore.user.id,
            ktp_number: authStore.legalInformation.ktp_number,
            ktp_name: authStore.legalInformation.ktp_name,
            ktp_address: authStore.legalInformation.ktp_address,
            npwp_number: authStore.legalInformation.npwp_number,
            npwp_name: authStore.legalInformation.npwp_name,
            npwp_address: authStore.legalInformation.npwp_address,
        });
    }
}
</script>

<template>
    <div class="card mb-4">
        <h5 class="card-header">Legal Informations</h5>
        <div class="card-body">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="ktp_name" class="form-label">Nama KTP</label>
                    <input
                        type="text"
                        class="form-control"
                        id="ktp_name"
                        name="ktp_name"
                        v-model="authStore.legalInformation.ktp_name"
                        :class="{
                            'is-invalid': validator.ktp_name.$error,
                        }"
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="ktp_number">Nomor KTP</label>
                    <input
                        type="number"
                        class="form-control"
                        id="ktp_number"
                        name="ktp_number"
                        v-model="authStore.legalInformation.ktp_number"
                        :class="{
                            'is-invalid': validator.ktp_number.$error,
                        }"
                    />
                </div>
                <div class="mb-3 col-12">
                    <label for="ktp_address" class="form-label"
                        >Alamat KTP</label
                    >
                    <textarea
                        class="form-control"
                        id="ktp_address"
                        name="ktp_address"
                        rows="3"
                        v-model="authStore.legalInformation.ktp_address"
                        :class="{
                            'is-invalid': validator.ktp_address.$error,
                        }"
                    ></textarea>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="npwp_name" class="form-label">Nama NPWP</label>
                    <input
                        type="text"
                        class="form-control"
                        id="npwp_name"
                        name="npwp_name"
                        v-model="authStore.legalInformation.npwp_name"
                    />
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="npwp_number"
                        >Nomor NPWP</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        id="npwp_number"
                        name="npwp_number"
                        v-model="authStore.legalInformation.npwp_number"
                    />
                </div>
                <div class="mb-3 col-12">
                    <label for="npwp_address" class="form-label"
                        >Alamat NPWP</label
                    >
                    <textarea
                        class="form-control"
                        id="npwp_address"
                        name="npwp_address"
                        rows="3"
                        v-model="authStore.legalInformation.npwp_address"
                    ></textarea>
                </div>
            </div>
            <div class="mt-2">
                <button
                    type="button"
                    @click="updateLegalInformation()"
                    class="btn btn-primary me-2"
                >
                    Save changes
                </button>
            </div>
        </div>
    </div>
</template>
