<template>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Account Settings</h3>
                    <p class="text-subtitle text-muted">
                        Navbar will appear on the top of the page.
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav
                        aria-label="breadcrumb"
                        class="breadcrumb-header float-start float-lg-end"
                    >
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link to="/dashboard">
                                    <span>Dashboard</span>
                                </router-link>
                            </li>
                            <li
                                class="breadcrumb-item active"
                                aria-current="page"
                            >
                                Account Settings
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="nav-item" role="presentation">
                        <router-link
                            to="/account-settings"
                            class="nav-link"
                            active-class="active"
                            >Basic Information</router-link
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <router-link
                            to="/account-settings/legal-information"
                            class="nav-link"
                            active-class="active"
                            >Legal Information</router-link
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <router-link
                            to="/account-settings/banking-account"
                            class="nav-link"
                            active-class="active"
                            >Banking</router-link
                        >
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <router-view></router-view>
                </div>
            </div>
        </section>
    </div>
</template>
