<script setup>
import axios from "axios";
import { reactive, ref } from "vue";
import router from "@/support/Router.js";
import { useVuelidate } from "@vuelidate/core";
import { required, email, minLength } from "@vuelidate/validators";
import { useToastr } from "@/support/toastr";
import { computed } from "vue";

const toastr = useToastr();

const form = reactive({
    email: "",
    password: "",
});

const rules = computed(() => ({
    email: { required, email },
    password: { required, minLength: minLength(8) },
}));

const validator = useVuelidate(rules, form);

async function handleSubmit() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await axios.get("/sanctum/csrf-cookie");
        await axios
            .post("/login", form)
            .then((response) => {
                console.log(response.data);
                router.push("/dashboard");
            })
            .catch((error) => {
                toastr.error(error);
                console.log(error);
            });
    }
}
</script>
<template>
    <div class="row h-100">
        <div class="col-lg-4 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="/"
                        ><img
                            src="../../../../../../public/themes/assets/compiled/svg/logo.svg"
                            alt="Logo"
                    /></a>
                </div>
                <h1 class="auth-title">Log in.</h1>
                <p class="auth-subtitle mb-3">
                    Log in with your data that you entered during registration.
                </p>

                <form @submit.prevent="handleSubmit()">
                    <div
                        class="form-group position-relative has-icon-left mb-3"
                    >
                        <input
                            type="email"
                            class="form-control form-control"
                            placeholder="Email"
                            v-model="form.email"
                            autofocus
                            :class="{
                                'is-invalid': validator.email.$error,
                            }"
                            @keyup.enter="handleSubmit()"
                        />
                        <span
                            class="invalid-feedback"
                            v-if="validator.email.$error"
                            >{{ validator.email.$errors[0].$message }}</span
                        >
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div
                        class="form-group position-relative has-icon-left mb-3"
                    >
                        <input
                            type="password"
                            class="form-control form-control"
                            placeholder="Password"
                            v-model="form.password"
                            :class="{
                                'is-invalid': validator.password.$error,
                            }"
                            @keyup.enter="handleSubmit()"
                        />
                        <span
                            class="invalid-feedback"
                            v-if="validator.password.$error"
                            >{{ validator.password.$errors[0].$message }}</span
                        >
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <div
                        class="form-check form-check-lg d-flex align-items-end"
                    >
                        <input
                            class="form-check-input me-2"
                            type="checkbox"
                            value=""
                            id="flexCheckDefault"
                        />
                        <label
                            class="form-check-label text-gray-600"
                            for="flexCheckDefault"
                        >
                            Keep me logged in
                        </label>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary btn-block btn-lg shadow-lg mt-3"
                    >
                        Log in
                    </button>
                </form>
                <div class="text-center mt-3 text-lg fs-5">
                    <p class="text-gray-600">
                        Don't have an account?
                        <a href="#" class="font-bold">Sign up</a>.
                    </p>
                    <p><a class="font-bold" href="#">Forgot password?</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 d-none d-lg-block">
            <div id="auth-right">
                <div class="text-center">
                    <img
                        class="img-error"
                        src="../../../../../../public/themes/assets/compiled/svg/login-illustration.svg"
                        alt="Not Found"
                        style="height: 100vh"
                    />
                </div>
            </div>
        </div>
    </div>
</template>
