<script setup>
import { useEventCategoryStore } from "@/domains/event-category/stores/event-category";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import { computed, ref } from "vue";

const store = useEventCategoryStore();
const eventCategory = ref({
    name: "",
    description: "",
});
const rules = computed(() => ({
    eventCategory: {
        name: { required },
    },
}));
const validator = useVuelidate(rules, { eventCategory });

async function add() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await store.store(eventCategory.value);
    }
}
</script>

<template>
    <div class="mb-3">
        <label class="form-label" for="name"
            >{{ "name" }}<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="name"
            type="text"
            :class="{ 'is-invalid': validator.eventCategory.name.$error }"
            v-model="eventCategory.name"
            @keyup.enter="add()"
        />
    </div>

    <div class="mb-3">
        <label class="form-label" for="description">{{ "description" }}</label>
        <textarea
            class="form-control"
            id="description"
            cols="30"
            rows="3"
            v-model="eventCategory.description"
        ></textarea>
    </div>

    <button class="btn btn-primary btn-block" @click="add()">
        {{ "save" }}
    </button>
</template>
