<script setup>
import { useEventCategoryStore } from "@/domains/event-category/stores/event-category";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import { computed } from "vue";

const store = useEventCategoryStore();
const rules = computed(() => ({
    eventCategory: {
        name: { required },
    },
}));
const validator = useVuelidate(rules, {
    eventCategory: store.selectedEventCategory,
});

async function update() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await store.update();
    }
}
</script>

<template>
    <div class="mb-3">
        <label class="form-label" for="name"
            >{{ "name" }}<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="name"
            type="text"
            :class="{ 'is-invalid': validator.eventCategory.name.$error }"
            v-model="store.selectedEventCategory.name"
            @keyup.enter="update()"
        />
    </div>

    <div class="mb-3">
        <label class="form-label" for="description">{{ "description" }}</label>
        <textarea
            class="form-control"
            id="description"
            cols="30"
            rows="3"
            v-model="store.selectedEventCategory.description"
        ></textarea>
    </div>

    <button class="btn btn-primary btn-block" @click="update()">
        {{ "save_changes" }}
    </button>
</template>
