<script setup></script>
<template>
    <div class="container flex-grow-1">
        <div class="row gy-0 gx-5">
            <div class="col-md-8">
                <h5 class="py-2"><b>Detail Pemesanan</b></h5>
                <div class="card h-25">
                    <img
                        class="card-img h-100 d-block"
                        src="../../../../../public/assets/img/elements/2.jpg"
                        alt="Card image cap"
                    />
                </div>
                <div class="card mb-4 mt-5">
                    <div
                        class="card-header d-flex justify-content-between align-items-center"
                    >
                        <h5 class="mb-0"><b>Detail Pemesan</b></h5>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="basic-icon-default-fullname"
                                    >Full Name</label
                                >
                                <div class="input-group input-group-merge">
                                    <span
                                        id="basic-icon-default-fullname2"
                                        class="input-group-text"
                                        ><i class="bx bx-user"></i
                                    ></span>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="basic-icon-default-fullname"
                                        placeholder="John Doe"
                                        aria-label="John Doe"
                                        aria-describedby="basic-icon-default-fullname2"
                                    />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="basic-icon-default-company"
                                    >Company</label
                                >
                                <div class="input-group input-group-merge">
                                    <span
                                        id="basic-icon-default-company2"
                                        class="input-group-text"
                                        ><i class="bx bx-buildings"></i
                                    ></span>
                                    <input
                                        type="text"
                                        id="basic-icon-default-company"
                                        class="form-control"
                                        placeholder="ACME Inc."
                                        aria-label="ACME Inc."
                                        aria-describedby="basic-icon-default-company2"
                                    />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="basic-icon-default-email"
                                    >Email</label
                                >
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text"
                                        ><i class="bx bx-envelope"></i
                                    ></span>
                                    <input
                                        type="text"
                                        id="basic-icon-default-email"
                                        class="form-control"
                                        placeholder="john.doe"
                                        aria-label="john.doe"
                                        aria-describedby="basic-icon-default-email2"
                                    />
                                    <span
                                        id="basic-icon-default-email2"
                                        class="input-group-text"
                                        >@example.com</span
                                    >
                                </div>
                                <div class="form-text">
                                    You can use letters, numbers & periods
                                </div>
                            </div>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="basic-icon-default-phone"
                                    >Phone No</label
                                >
                                <div class="input-group input-group-merge">
                                    <span
                                        id="basic-icon-default-phone2"
                                        class="input-group-text"
                                        ><i class="bx bx-phone"></i
                                    ></span>
                                    <input
                                        type="text"
                                        id="basic-icon-default-phone"
                                        class="form-control phone-mask"
                                        placeholder="658 799 8941"
                                        aria-label="658 799 8941"
                                        aria-describedby="basic-icon-default-phone2"
                                    />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="basic-icon-default-message"
                                    >Message</label
                                >
                                <div class="input-group input-group-merge">
                                    <span
                                        id="basic-icon-default-message2"
                                        class="input-group-text"
                                        ><i class="bx bx-comment"></i
                                    ></span>
                                    <textarea
                                        id="basic-icon-default-message"
                                        class="form-control"
                                        placeholder="Hi, Do you have a moment to talk Joe?"
                                        aria-label="Hi, Do you have a moment to talk Joe?"
                                        aria-describedby="basic-icon-default-message2"
                                    ></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="alert alert-warning" role="alert">
                    Pastikan datamu sudah benar!
                </div>
                <h5 class="py-2"><b>Metode Pembayaran</b></h5>
                <div class="d-flex flex-wrap" id="icons-container">
                    <div
                        class="card icon-card cursor-pointer text-center mb-4 mx-2"
                    >
                        <div class="card-body">
                            <i class="bx bxl-adobe mb-2"></i>
                            <p
                                class="icon-name text-capitalize text-truncate mb-0"
                            >
                                adobe
                            </p>
                        </div>
                    </div>
                    <div
                        class="card icon-card cursor-pointer text-center mb-4 mx-2"
                    >
                        <div class="card-body">
                            <i class="bx bxl-algolia mb-2"></i>
                            <p
                                class="icon-name text-capitalize text-truncate mb-0"
                            >
                                algolia
                            </p>
                        </div>
                    </div>
                    <div
                        class="card icon-card cursor-pointer text-center mb-4 mx-2"
                    >
                        <div class="card-body">
                            <i class="bx bxl-imdb mb-2"></i>
                            <p
                                class="icon-name text-capitalize text-truncate mb-0"
                            >
                                imdb
                            </p>
                        </div>
                    </div>
                    <div
                        class="card icon-card cursor-pointer text-center mb-4 mx-2"
                    >
                        <div class="card-body">
                            <i class="bx bxl-jquery mb-2"></i>
                            <p
                                class="icon-name text-capitalize text-truncate mb-0"
                            >
                                jquery
                            </p>
                        </div>
                    </div>
                    <div
                        class="card icon-card cursor-pointer text-center mb-4 mx-2"
                    >
                        <div class="card-body">
                            <i class="bx bxl-pinterest-alt mb-2"></i>
                            <p
                                class="icon-name text-capitalize text-truncate mb-0"
                            >
                                pinterest-alt
                            </p>
                        </div>
                    </div>
                    <div
                        class="card icon-card cursor-pointer text-center mb-4 mx-2"
                    >
                        <div class="card-body">
                            <i class="bx bxl-500px mb-2"></i>
                            <p
                                class="icon-name text-capitalize text-truncate mb-0"
                            >
                                500px
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 5rem">
                    <div class="card bg-warning text-white mb-3">
                        <div class="card-header py-3">
                            Segera Selesaikan Pesananmu
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="input-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Recipient's username"
                                    aria-label="Recipient's username"
                                    aria-describedby="button-addon2"
                                />
                                <button
                                    class="btn btn-outline-secondary"
                                    type="button"
                                    id="button-addon2"
                                >
                                    Button
                                </button>
                            </div>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title.
                            </p>
                            <hr />
                            <a href="javascript:void(0)" class="btn btn-primary"
                                >Go somewhere</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
