<script setup>
import { useTicketStore } from "@/domains/ticket/store/ticket";
import { formatMoney, formatNumber } from "@/support/helper";
// import Toggle from "@vueform/toggle";
import { quillOptions } from "@/support/helper";
import { computed, onMounted, ref, watch } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { format } from "date-fns";
import { required } from "@vuelidate/validators";

const props = defineProps(["id"]);
const ticketStore = useTicketStore();
const disableSubmit = ref(false);
const categories = ref([
    { value: "paid", name: "Paid" },
    { value: "free", name: "Free" },
]);

const ticket = ref({
    event_id: ticketStore.eventId,
    ticket_name: "",
    ticket_category: "",
    quantity: "0",
    price: 0,
    sales_start_date: format(new Date(), "yyyy-MM-dd HH:mm"),
    sales_finish_date: format(new Date(), "yyyy-MM-dd HH:mm"),
    description: "",
});
const rules = computed(() => ({
    ticket: {
        ticket_name: {},
    },
}));
const validator = useVuelidate(rules, { ticket });

async function add() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await ticketStore.store(ticket.value);
        disableSubmit.value = false;
    }
}
</script>

<style>
:root {
    --card-line-height: 0.5em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    --color-primary: #0d6efd;
    --color-green: #558309;
    --color-grey: #989898;
    --color-dark-gray: #c4d1e1;
    --radio-border-width: 2px;
    --radio-size: 1em;
}

.card-ticket {
    display: table-row;
    width: 100%;
    background-color: var(--color-grey);
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.card-ticket:hover {
    background-color: var(--color-primary);
}

.radio:checked ~ .card-ticket {
    background-color: var(--color-primary);
}

.radio:disabled ~ .card-ticket {
    background-color: var(--color-gray);
    cursor: default;
}

.radio:focus ~ .card-ticket {
    background-color: var(--color-green);
}

.svg-barcode {
    display: table-cell;
    width: 25%;
    position: relative;
    text-align: center;
    border-right: 2px dashed #dadde6;
}

.svg-barcode:before,
.svg-barcode:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    border-radius: 50%;
}

.svg-barcode:after {
    top: auto;
    bottom: -15px;
}

.svg-barcode svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-cont {
    display: table-cell;
    width: 75%;
    font-size: 85%;
    padding: 20px 10px 20px 50px;
    align-items: center;
}

.card-cont h3 {
    color: #3c3c3c;
    font-size: 130%;
    margin-bottom: 0.5rem;
}

.card-cont h2 {
    color: #fff;
    font-size: 180%;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: var(--radio-border-width) solid var(--color-gray);
        border-radius: 50%;
        cursor: pointer;
        height: var(--radio-size);
        outline: none;
        transition: background 0.2s ease-out, border-color 0.2s ease-out;
        width: var(--radio-size);

        &::after {
            border: var(--radio-border-width) solid #fff;
            border-top: 0;
            border-left: 0;
            content: "";
            display: block;
            height: 0.5rem;
            left: 25%;
            position: absolute;
            top: 50%;
            transform: rotate(45deg) translate(-50%, -50%);
            width: 0.375rem;
        }

        &:checked {
            background: var(--color-green);
            border-color: var(--color-green);
        }
    }

    .card-ticket:hover .radio {
        background-color: var(--color-green);

        &:checked {
            background-color: var(--color-green);
        }
    }
}
</style>
<template>
    <div class="row mb-3">
        <div
            class="col-sm-6"
            v-for="(category, index) in categories"
            :key="index"
        >
            <label class="card-ticket float-start">
                <input
                    name="ticket_category"
                    id="ticket_category"
                    class="radio"
                    type="radio"
                    v-model="ticket.ticket_category"
                    v-bind:value="category.value"
                />
                <section class="svg-barcode">
                    <svg
                        height="58"
                        viewBox="0 0 9 58"
                        width="9"
                        xmlns="http://www.w3.org/2000/svg"
                        class="uk-svg"
                        data-svg="/images/icon/icon-barcode.svg"
                    >
                        <g fill="#595959" fill-rule="evenodd" opacity=".5">
                            <path d="m.200001.469422h8.4v1.814876h-8.4z"></path>
                            <path
                                d="m.200001 7.123968h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 3.494216h8.4v1h-8.4z"></path>
                            <path d="m.200001 5.309092h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 9.543803h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 16.198348h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 12.568596h8.4v1h-8.4z"></path>
                            <path d="m.200001 14.383472h8.4v1h-8.4z"></path>
                            <path d="m.200001 18.618183h8.4v1h-8.4z"></path>
                            <path d="m.200001 20.433059h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 22.247935h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 28.902481h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 25.272729h8.4v1h-8.4z"></path>
                            <path d="m.200001 27.087605h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 31.322316h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 37.976862h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 34.347109h8.4v1h-8.4z"></path>
                            <path d="m.200001 36.161985h8.4v1h-8.4z"></path>
                            <path d="m.200001 40.396696h8.4v1h-8.4z"></path>
                            <path d="m.200001 42.211572h8.4v1h-8.4z"></path>
                            <path d="m.200001 44.026449h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 45.841325h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 52.49587h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 48.866118h8.4v1h-8.4z"></path>
                            <path d="m.200001 50.680994h8.4v1h-8.4z"></path>
                            <path d="m.200001 54.915705h8.4v1h-8.4z"></path>
                            <path d="m.200001 56.730581h8.4v1h-8.4z"></path>
                        </g>
                    </svg>
                </section>
                <section class="card-cont">
                    <small>Create ticket</small>
                    <h3>{{ category.name }} TICKET</h3>
                </section>
            </label>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="ticket_name"
            >Ticket Name<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="name"
            type="text"
            :class="{ 'is-invalid': validator.ticket.ticket_name.$error }"
            v-model="ticket.ticket_name"
            @keyup.enter="add()"
        />
    </div>

    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label" for="ticket_name"
                >Quantity<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="quantity"
                type="text"
                min="0"
                v-model="ticket.quantity"
            />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="ticket_name"
                >Price<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="price   "
                type="text"
                v-model="ticket.price"
            />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label" for="ticket_name"
                >Sales start date<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="sales_start_date"
                type="datetime-local"
                v-model="ticket.sales_start_date"
                format="YYYY-MM-DD HH:mm"
                required
            />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="ticket_name"
                >Sales finish date<span class="text-danger">*</span></label
            >

            <input
                class="form-control"
                id="sales_start_date"
                type="datetime-local"
                v-model="ticket.sales_finish_date"
                format="YYYY-MM-DD HH:mm"
                required
            />
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <quill-editor
            class="quill-editor"
            id="description"
            v-model:content="ticket.description"
            :options="quillOptions()"
            contentType="html"
        ></quill-editor>
    </div>
    <button class="btn btn-primary btn-block" @click="add()">
        {{ "save" }}
    </button>
</template>
