<script setup>
import { useTicketStore } from "@/domains/ticket/store/ticket";
import { formatMoney, formatNumber, quillOptions } from "@/support/helper";
import { computed, onMounted, ref, watch } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";

const store = useTicketStore();

const rules = computed(() => ({
    ticket: {
        ticket_name: { required },
    },
}));

const validator = useVuelidate(rules, { ticket: store.selectedTicket });

onMounted(() => {
    store.getCategory();
});

const update = async function () {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await store.update();
    }
};
</script>

<template>
    <div class="row mb-3">
        <div
            class="col-sm-6"
            v-for="(category, index) in store.categories"
            :key="index"
        >
            <label class="card-ticket float-start">
                <input
                    name="ticket_category"
                    id="ticket_category"
                    class="radio"
                    type="radio"
                    v-model="store.selectedTicket.ticket_category"
                    v-bind:value="category"
                />
                <section class="svg-barcode">
                    <svg
                        height="58"
                        viewBox="0 0 9 58"
                        width="9"
                        xmlns="http://www.w3.org/2000/svg"
                        class="uk-svg"
                        data-svg="/images/icon/icon-barcode.svg"
                    >
                        <g fill="#595959" fill-rule="evenodd" opacity=".5">
                            <path d="m.200001.469422h8.4v1.814876h-8.4z"></path>
                            <path
                                d="m.200001 7.123968h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 3.494216h8.4v1h-8.4z"></path>
                            <path d="m.200001 5.309092h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 9.543803h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 16.198348h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 12.568596h8.4v1h-8.4z"></path>
                            <path d="m.200001 14.383472h8.4v1h-8.4z"></path>
                            <path d="m.200001 18.618183h8.4v1h-8.4z"></path>
                            <path d="m.200001 20.433059h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 22.247935h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 28.902481h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 25.272729h8.4v1h-8.4z"></path>
                            <path d="m.200001 27.087605h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 31.322316h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 37.976862h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 34.347109h8.4v1h-8.4z"></path>
                            <path d="m.200001 36.161985h8.4v1h-8.4z"></path>
                            <path d="m.200001 40.396696h8.4v1h-8.4z"></path>
                            <path d="m.200001 42.211572h8.4v1h-8.4z"></path>
                            <path d="m.200001 44.026449h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 45.841325h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 52.49587h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 48.866118h8.4v1h-8.4z"></path>
                            <path d="m.200001 50.680994h8.4v1h-8.4z"></path>
                            <path d="m.200001 54.915705h8.4v1h-8.4z"></path>
                            <path d="m.200001 56.730581h8.4v1h-8.4z"></path>
                        </g>
                    </svg>
                </section>
                <section class="card-cont">
                    <small>Create ticket</small>
                    <h3>{{ category }}</h3>
                </section>
            </label>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="name"
            >{{ "name" }}<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="name"
            type="text"
            v-model="store.selectedTicket.ticket_name"
            @keyup.enter="update()"
        />
    </div>

    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label" for="ticket_name"
                >Quantity<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="quantity"
                type="text"
                min="0"
                v-model="store.selectedTicket.quantity"
            />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="ticket_name"
                >Price<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="price   "
                type="text"
                v-model="store.selectedTicket.price"
            />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label" for="ticket_name"
                >Sales start date<span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    class="form-control"
                    id="sales_start_date"
                    type="datetime-local"
                    v-model="store.selectedTicket.sales_start_date"
                    format="YYYY-MM-DD HH:mm"
                    required
                />
            </div>
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="ticket_name"
                >Sales finish date<span class="text-danger">*</span></label
            >
            <div class="input-group">
                <input
                    class="form-control"
                    id="sales_start_date"
                    type="datetime-local"
                    v-model="store.selectedTicket.sales_finish_date"
                    format="YYYY-MM-DD HH:mm"
                    required
                />
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <quill-editor
            class="quill-editor"
            id="description"
            v-model:content="store.selectedTicket.description"
            :options="quillOptions()"
            contentType="html"
        ></quill-editor>
    </div>

    <button class="btn btn-primary btn-block" @click="update()">
        {{ "save_changes" }}
    </button>
</template>
