<script setup>
import { useTicketStore } from "@/domains/ticket/store/ticket";
import { useAuthStore } from "@/domains/user/stores/authStore";
import { computed, onMounted, onUnmounted, ref } from "vue";
import { formatMoney, formatNumber } from "@/support/helper";
import Modal from "./Modal.vue";

const props = defineProps(["id"]);
const ticketStore = useTicketStore();
const authStore = useAuthStore();

onMounted(() => {
    ticketStore.eventId = props.id;
    ticketStore.get();
});

const add = () => {
    ticketStore.editing = false;
    ticketStore.creating = true;
    ticketStore.showModal = true;
};

const edit = (ticket) => {
    ticketStore.selectedTicket = Object.assign({}, ticket);
    ticketStore.creating = false;
    ticketStore.editing = true;
    ticketStore.showModal = true;
};

const destroy = (ticket) => {
    ticketStore.selectedTicket = ticket;
    if (confirm("confirm to delete")) {
        ticketStore.destroy().then(() => {
            ticketStore.selectedTicket = {};
        });
    }
};
</script>

<template>
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div v-if="ticketStore.tickets.length > 0">
                    <div class="card-header">
                        <ul class="nav nav-pills flex-column flex-md-row">
                            <li class="nav-item">
                                <button
                                    class="btn btn-primary"
                                    v-if="authStore.can('add_ticket')"
                                    @click="add()"
                                >
                                    <i class="fa-solid fa-plus"></i>
                                    Add new ticket
                                </button>
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <div class="card-content">
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table table-lg">
                                    <thead>
                                        <tr>
                                            <th>Ticket Name</th>
                                            <th>Quota</th>
                                            <th>Price</th>
                                            <th>Ticket Status</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="(
                                                ticket, index
                                            ) in ticketStore.tickets"
                                            :key="ticket.id"
                                        >
                                            <td>{{ ticket.ticket_name }}</td>
                                            <td>
                                                {{ ticket.quantity }}
                                            </td>
                                            <td>
                                                {{ ticket.price }}
                                            </td>
                                            <td>
                                                <span
                                                    v-html="
                                                        ticket.state_formatted
                                                    "
                                                ></span>
                                            </td>
                                            <td class="text-center">
                                                <button
                                                    type="button"
                                                    class="btn btn-icon btn-secondary btn-sm me-sm-1"
                                                    v-if="
                                                        authStore.can(
                                                            'edit_ticket'
                                                        )
                                                    "
                                                    @click.prevent="
                                                        edit(ticket)
                                                    "
                                                >
                                                    <i
                                                        class="bi bi-pencil-square"
                                                    ></i>
                                                </button>
                                                <button
                                                    type="button"
                                                    class="btn btn-icon btn-danger btn-sm"
                                                    v-if="
                                                        authStore.can(
                                                            'delete_ticket'
                                                        )
                                                    "
                                                    @click.prevent="
                                                        destroy(ticket)
                                                    "
                                                >
                                                    <i
                                                        class="bi bi-trash3-fill"
                                                    ></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="card-body text-center">
                        <div class="mb-3 col-12 mb-0">
                            <div class="alert alert-warning">
                                <h6 class="alert-heading mb-1">
                                    Data Not Found. Create New Ticket Now
                                </h6>
                            </div>
                        </div>
                        <button
                            class="btn btn-primary"
                            v-if="authStore.can('add_ticket')"
                            @click="add()"
                        >
                            Create Ticket
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Modal></Modal>
</template>
