<script setup>
import { useTicketStore } from "@/domains/ticket/store/ticket";
import { Modal } from "bootstrap";
import { storeToRefs } from "pinia";
import { computed, onMounted, watch } from "vue";
import Add from "./Add.vue";
import Edit from "./Edit.vue";

const store = useTicketStore();
const { showModal } = storeToRefs(store);
const title = computed(() => {
    let title = "Tickets";

    if (store.creating) {
        title = "Add new ticket";
    }

    if (store.editing) {
        title = "Edit ticket";
    }

    return title;
});
let modal = Modal;

onMounted(() => {
    modal = new Modal("#ticketModal");
    document
        .getElementById("ticketModal")
        ?.addEventListener("hidden.bs.modal", () => {
            store.showModal = false;
            store.creating = false;
            store.editing = false;
            store.selectedTicket = {};
        });
});

watch(showModal, (showModal) => {
    showModal ? modal.show() : modal.hide();
});
</script>

<template>
    <div class="modal fade" id="ticketModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ticketModalLabel">
                        {{ title }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <Add v-if="store.creating"></Add>
                    <Edit v-if="store.editing"></Edit>
                </div>
            </div>
        </div>
    </div>
</template>
