<script setup>
import { usePromoStore } from "@/domains/promo/store/promo";
import { useTicketStore } from "@/domains/ticket/store/ticket";
import { formatMoney, formatNumber } from "@/support/helper";
import { computed, onMounted, ref, watch } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { format } from "date-fns";
import { required } from "@vuelidate/validators";

const props = defineProps(["id"]);
const promoStore = usePromoStore();
const ticketStore = useTicketStore();
const disableSubmit = ref(false);
const promo = ref({
    ticket_id: null,
    discount_name: "",
    discount_code: "",
    quota: 0,
    type: "percentage",
    percentage: 0,
    nominal: 0,
    min_transaction: 0,
    period_start_date: format(new Date(), "yyyy-MM-dd HH:mm"),
    period_finish_date: format(new Date(), "yyyy-MM-dd HH:mm"),
});
const rules = computed(() => ({
    promo: {
        discount_name: { required },
        discount_code: { required },
        ticket_id: { required },
        type: { required },
    },
}));
const validator = useVuelidate(rules, { promo });

onMounted(() => {
    ticketStore.eventId = promoStore.eventId;
    ticketStore.get();
    promoStore.getType();
});

async function add() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        await store.store(promo.value);
        disableSubmit.value = false;
    }
}
</script>

<template>
    <div class="row mb-3">
        <div
            v-if="ticketStore.tickets.length > 0"
            class="col-sm-6"
            v-for="(ticket, index) in ticketStore.tickets"
            :key="ticket.id"
        >
            <label class="card-ticket float-start">
                <input
                    name="ticket"
                    id="ticket"
                    class="radio"
                    type="radio"
                    v-model="promo.ticket_id"
                    v-bind:value="ticket.id"
                />
                <section class="svg-barcode">
                    <svg
                        height="58"
                        viewBox="0 0 9 58"
                        width="9"
                        xmlns="http://www.w3.org/2000/svg"
                        class="uk-svg"
                        data-svg="/images/icon/icon-barcode.svg"
                    >
                        <g fill="#595959" fill-rule="evenodd" opacity=".5">
                            <path d="m.200001.469422h8.4v1.814876h-8.4z"></path>
                            <path
                                d="m.200001 7.123968h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 3.494216h8.4v1h-8.4z"></path>
                            <path d="m.200001 5.309092h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 9.543803h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 16.198348h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 12.568596h8.4v1h-8.4z"></path>
                            <path d="m.200001 14.383472h8.4v1h-8.4z"></path>
                            <path d="m.200001 18.618183h8.4v1h-8.4z"></path>
                            <path d="m.200001 20.433059h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 22.247935h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 28.902481h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 25.272729h8.4v1h-8.4z"></path>
                            <path d="m.200001 27.087605h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 31.322316h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 37.976862h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 34.347109h8.4v1h-8.4z"></path>
                            <path d="m.200001 36.161985h8.4v1h-8.4z"></path>
                            <path d="m.200001 40.396696h8.4v1h-8.4z"></path>
                            <path d="m.200001 42.211572h8.4v1h-8.4z"></path>
                            <path d="m.200001 44.026449h8.4v1h-8.4z"></path>
                            <path
                                d="m.200001 45.841325h8.4v1.814876h-8.4z"
                            ></path>
                            <path
                                d="m.200001 52.49587h8.4v1.209917h-8.4z"
                            ></path>
                            <path d="m.200001 48.866118h8.4v1h-8.4z"></path>
                            <path d="m.200001 50.680994h8.4v1h-8.4z"></path>
                            <path d="m.200001 54.915705h8.4v1h-8.4z"></path>
                            <path d="m.200001 56.730581h8.4v1h-8.4z"></path>
                        </g>
                    </svg>
                </section>
                <section class="card-cont">
                    <h2>{{ ticket.ticket_name }}</h2>
                    <h3>Rp. {{ ticket.price }}</h3>
                </section>
            </label>
        </div>
        <div v-else>
            <div class="alert alert-danger" role="alert">
                Please create a ticket before taking this action!
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label" for="discount_name"
                >Discount Name<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="name"
                type="text"
                :class="{
                    'is-invalid': validator.promo.discount_name.$error,
                }"
                v-model="promo.discount_name"
                @keyup.enter="add()"
            />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="discount_code"
                >Discount Code<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="discount_code"
                type="text"
                :class="{
                    'is-invalid': validator.promo.discount_code.$error,
                }"
                style="text-transform: uppercase"
                v-model="promo.discount_code"
                @keyup.enter="add()"
            />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label" for="quota"
                >Quota<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="quota"
                type="number"
                min="0"
                v-model="promo.quota"
            />
        </div>
        <div class="col-sm-6">
            <label for="type" class="form-label">Promo Type</label>
            <select
                class="form-select"
                id="type"
                v-model="promo.type"
                :class="{
                    'is-invalid': validator.promo.type.$error,
                }"
            >
                <option value="">Select Discount Type</option>
                <option
                    v-for="(type, index) in promoStore.type"
                    :key="index"
                    :value="type"
                >
                    {{ type }}
                </option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label" for="percentage"
                >Percentage<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="percentage"
                type="number"
                v-model="promo.percentage"
            />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="nominal"
                >Nominal<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="nominal"
                type="number"
                v-model="promo.nominal"
            />
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="min_transaction"
            >Minimal Transaction<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="min_transaction"
            type="number"
            v-model="promo.min_transaction"
        />
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <label class="form-label" for="period_start_date"
                >Period start date<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="period_start_date"
                type="datetime-local"
                v-model="promo.period_start_date"
                required
            />
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="period_finish_date"
                >Period finish date<span class="text-danger">*</span></label
            >
            <input
                class="form-control"
                id="period_start_date"
                type="datetime-local"
                v-model="promo.period_finish_date"
                required
            />
        </div>
    </div>
    <button
        class="btn btn-primary btn-block"
        @click="add()"
        :disabled="ticketStore.tickets.length === 0"
    >
        {{ "save" }}
    </button>
</template>
