<script setup>
import { usePromoStore } from "@/domains/promo/store/promo";
import { useAuthStore } from "@/domains/user/stores/authStore";
import { computed, onMounted, onUnmounted, ref } from "vue";
import { formatMoney, formatNumber } from "@/support/helper";
import Modal from "./Modal.vue";

const props = defineProps(["id"]);
const promoStore = usePromoStore();
const authStore = useAuthStore();

onMounted(() => {
    promoStore.eventId = props.id;
    promoStore.getByEventId(promoStore.eventId);
});

const add = () => {
    promoStore.editing = false;
    promoStore.creating = true;
    promoStore.showModal = true;
    promoStore.eventId = promoStore.eventId;
};

const edit = (promo) => {
    promoStore.selectedPromo = Object.assign({}, promo);
    promoStore.creating = false;
    promoStore.editing = true;
    promoStore.showModal = true;
};

const destroy = (promo) => {
    promoStore.selectedPromo = promo;
    if (confirm("confirm to delete")) {
        promoStore.destroy();
    }
};
</script>

<template>
    <div class="card">
        <div v-if="promoStore.promo.length > 0">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="card-header">Promo Discounts</h5>
                </div>
                <div class="col-sm-6">
                    <ul
                        class="nav nav-pills flex-column flex-md-row mb-3 p-3 justify-content-end"
                        v-if="promoStore.promo.length > 0"
                    >
                        <li class="nav-item">
                            <button
                                class="btn btn-primary"
                                v-if="authStore.can('add_promo')"
                                @click="add()"
                            >
                                <i class="fa-solid fa-plus"></i> Add new promo
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Promo Name</th>
                            <th>Quota</th>
                            <th>Ticket Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr
                            v-for="(promo, index) in promoStore.promoTickets"
                            :key="promo.id"
                        >
                            <!-- <td>{{ store.meta.from + index }}.</td> -->
                            <td>{{ promo.discount_name }}</td>
                            <td>{{ promo.quota }}</td>
                            <td>
                                <span v-html="promo.state_formatted"></span>
                            </td>
                            <td class="text-center">
                                <button
                                    type="button"
                                    class="btn btn-icon btn-secondary btn-sm me-sm-1"
                                    v-if="authStore.can('edit_promo')"
                                    @click.prevent="edit(promo)"
                                >
                                    <i class="tf-icons bx bx-edit"></i>
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-icon btn-danger btn-sm"
                                    v-if="authStore.can('delete_promo')"
                                    @click.prevent="destroy(promo)"
                                >
                                    <i class="tf-icons bx bx-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <Paginator :store="store" /> -->
        </div>
        <div v-else>
            <div class="card-body text-center">
                <div class="mb-3 col-12 mb-0">
                    <div class="alert alert-warning">
                        <h6 class="alert-heading mb-1">
                            Data Not Found. Create Promo Now
                        </h6>
                    </div>
                </div>
                <button
                    class="btn btn-primary deactivate-account"
                    v-if="authStore.can('add_promo')"
                    @click="add()"
                >
                    Create Promo
                </button>
            </div>
        </div>
    </div>
    <Modal></Modal>
</template>
