<script setup>
import { usePromoStore } from "@/domains/promo/store/promo";
import { Modal } from "bootstrap";
import { storeToRefs } from "pinia";
import { computed, onMounted, watch } from "vue";
import Add from "./Add.vue";
import Edit from "./Edit.vue";

const promoStore = usePromoStore();
const { showModal } = storeToRefs(promoStore);
const title = computed(() => {
    let title = "Promo Tickets";

    if (promoStore.creating) {
        title = "Add new promo";
    }

    if (promoStore.editing) {
        title = "Edit promo";
    }

    return title;
});
let modal = Modal;

onMounted(() => {
    modal = new Modal("#promoModal");
    document
        .getElementById("promoModal")
        ?.addEventListener("hidden.bs.modal", () => {
            promoStore.showModal = false;
            promoStore.creating = false;
            promoStore.editing = false;
            promoStore.selectedPromo = {};
        });
});

watch(showModal, (showModal) => {
    showModal ? modal.show() : modal.hide();
});
</script>

<template>
    <div class="modal fade" id="promoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="promoModalLabel">
                        {{ title }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <Add v-if="promoStore.creating"></Add>
                    <Edit v-if="promoStore.editing"></Edit>
                </div>
            </div>
        </div>
    </div>
</template>
