<script setup></script>
<template>
    <div class="container-xxl flex-grow-1">
        <div class="row g-5">
            <div class="col-md-3">
                <div class="position-sticky" style="top: 3rem">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Filter</h4>
                        <select
                            class="form-select selectpicker border-0"
                            id="exampleFormControlSelect1"
                            aria-label="Default select example"
                            data-live-search="true"
                        >
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <select
                            class="form-select selectpicker border-0"
                            id="exampleFormControlSelect1"
                            aria-label="Default select example"
                            data-live-search="true"
                        >
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <select
                            class="form-select selectpicker border-0"
                            id="exampleFormControlSelect1"
                            aria-label="Default select example"
                            data-live-search="true"
                        >
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h6 class="pb-1 mb-4 pt-2 mt-2">Grid Card</h6>
                <h6 class="pb-1 mb-4 pt-2 mt-2">Grid Card</h6>
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                    <div class="col">
                        <div class="card h-100">
                            <img
                                class="card-img-top"
                                src="../../../../../public/themes/assets/compiled/jpg/1.jpg"
                                alt="Card image cap"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text
                                    below as a natural lead-in to additional
                                    content. This content is a little bit
                                    longer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img
                                class="card-img-top"
                                src="../../../../../public/themes/assets/compiled/jpg/2.jpg"
                                alt="Card image cap"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text
                                    below as a natural lead-in to additional
                                    content. This content is a little bit
                                    longer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img
                                class="card-img-top"
                                src="../../../../../public/themes/assets/compiled/jpg/3.jpg"
                                alt="Card image cap"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text
                                    below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img
                                class="card-img-top"
                                src="../../../../../public/themes/assets/compiled/jpg/4.jpg"
                                alt="Card image cap"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text
                                    below as a natural lead-in to additional
                                    content. This content is a little bit
                                    longer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img
                                class="card-img-top"
                                src="../../../../../public/themes/assets/compiled/jpg/5.jpg"
                                alt="Card image cap"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text
                                    below as a natural lead-in to additional
                                    content. This content is a little bit
                                    longer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img
                                class="card-img-top"
                                src="../../../../../public/themes/assets/compiled/jpg/6.jpg"
                                alt="Card image cap"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text
                                    below as a natural lead-in to additional
                                    content. This content is a little bit
                                    longer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
