<script setup>
import Navbar from "./NavbarDashboard.vue";
import Sidebar from "./Sidebar.vue";
import Footer from "./FooterDashboard.vue";
import { useAuthStore } from "@/domains/user/stores/authStore";
const authStore = useAuthStore();
</script>
<template>
    <Sidebar />
    <div id="main" class="layout-navbar navbar-fixed">
        <Navbar />

        <div id="main-content">
            <router-view></router-view>
        </div>
        <Footer />
    </div>
</template>
