<script setup>
import Navbar from "./NavbarHomepage.vue";
import Footer from "./FooterHomepage.vue";
import { useAuthStore } from "@/domains/user/stores/authStore";
const authStore = useAuthStore();
</script>
<template>
    <div id="main" class="layout-horizontal">
        <Navbar />
        <div class="content-wrapper container">
            <div class="page-content">
                <router-view></router-view>
            </div>
        </div>
        <Footer />
    </div>
</template>
