<script setup>
import { useAuthStore } from "@/domains/user/stores/authStore";
import { useRouter } from "vue-router";

const router = useRouter();
const authStore = useAuthStore();

async function logout() {
    await axios.post("/logout").then((response) => {
        authStore.user = {};
        window.location.href = "/";
    });
}
</script>
<template>
    <header class="mb-5">
        <nav class="main-navbar" style="padding: 0.5rem">
            <div class="container">
                <ul>
                    <li class="menu-item">
                        <a href="index.html" class="menu-link">
                            <span
                                ><i class="bi bi-grid-fill"></i> Dashboard</span
                            >
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-top">
            <div class="container">
                <div class="logo">
                    <a href="/"
                        ><img
                            src="../../../../public/themes/assets/compiled/svg/logo.svg"
                            alt="Logo"
                    /></a>
                </div>
                <form class="w-100 me-3">
                    <div class="input-group w-100 me-3">
                        <input
                            type="search"
                            class="form-control"
                            placeholder="Search..."
                            aria-label="Search"
                        />
                        <button
                            class="btn"
                            type="button"
                            style="border: 1px solid #35354f"
                        >
                            <i class="bi bi-search-heart-fill"></i>
                        </button>
                    </div>
                </form>
                <div class="header-top-right">
                    <a href="index.html" class="menu-link">
                        <span><i class="bi bi-grid-fill"></i> Dashboard</span>
                    </a>
                    <a href="index.html" class="menu-link">
                        <span><i class="bi bi-grid-fill"></i> Dashboard</span>
                    </a>
                    <div class="dropdown">
                        <a
                            href="#"
                            id="topbarUserDropdown"
                            class="user-dropdown d-flex align-items-center dropend dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <div class="avatar avatar-md2">
                                <img
                                    :src="
                                        authStore.isAuthenticated
                                            ? authStore.basicInformation
                                                  .profile_image
                                            : '/storage/profile/noimage.png'
                                    "
                                    alt="Avatar"
                                />
                            </div>
                            <div class="text">
                                <h6 class="user-dropdown-name">
                                    {{
                                        authStore.isAuthenticated
                                            ? authStore.user.firstname
                                            : "Hallo"
                                    }}
                                </h6>
                                <p
                                    class="user-dropdown-status text-sm text-muted"
                                >
                                    {{
                                        authStore.isAuthenticated
                                            ? authStore.user.role
                                            : "Guest"
                                    }}
                                </p>
                            </div>
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton"
                            style="min-width: 11rem"
                        >
                            <li>
                                <h6 class="dropdown-header">
                                    Hello,
                                    {{
                                        authStore.isAuthenticated
                                            ? authStore.user.firstname
                                            : "Guest"
                                    }}!
                                </h6>
                            </li>
                            <li v-if="authStore.isAuthenticated">
                                <router-link
                                    to="/dashboard"
                                    class="dropdown-item"
                                >
                                    <span
                                        ><i
                                            class="icon-mid bi bi-grid-fill me-2"
                                        ></i>
                                        Dashboard</span
                                    >
                                </router-link>
                            </li>
                            <li v-if="authStore.isAuthenticated">
                                <router-link
                                    to="/account-settings"
                                    class="dropdown-item"
                                >
                                    <span
                                        ><i
                                            class="icon-mid bi bi-person-fill me-2"
                                        ></i>
                                        My Profile</span
                                    >
                                </router-link>
                            </li>
                            <li v-if="authStore.isAuthenticated">
                                <router-link to="/events" class="dropdown-item">
                                    <span
                                        ><i
                                            class="icon-mid bi bi-calendar-event-fill me-2"
                                        ></i>
                                        My Events</span
                                    >
                                </router-link>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li v-if="authStore.isAuthenticated">
                                <form>
                                    <a
                                        class="dropdown-item"
                                        href="#"
                                        @click.prevent="logout()"
                                    >
                                        <i
                                            class="icon-mid bi bi-arrow-left-square-fill me-2"
                                        ></i>
                                        Logout
                                    </a>
                                </form>
                            </li>
                            <li v-if="!authStore.isAuthenticated">
                                <router-link to="/login" class="dropdown-item">
                                    <span
                                        ><i
                                            class="icon-mid bi bi-arrow-right-circle-fill me-2"
                                        ></i>
                                        Sign in</span
                                    >
                                </router-link>
                            </li>
                            <li v-if="!authStore.isAuthenticated">
                                <router-link to="/" class="dropdown-item">
                                    <span
                                        ><i
                                            class="icon-mid bi bi-person-plus-fill me-2"
                                        ></i>
                                        Register</span
                                    >
                                </router-link>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
</template>
