<script setup>
import { useFrontpageStore } from "@/domains/homepage/frontpage/stores/frontpage";
import { onMounted } from "vue";

const store = useFrontpageStore();

onMounted(() => {
    store.get();
});
</script>
<template>
    <div
        class="card overflow-hidden mb-4 border-0 shadow"
        style="height: 250px"
    >
        <div class="card-body p-0">
            <div
                id="carouselExampleCaptions"
                class="carousel slide"
                data-bs-ride="carousel"
            >
                <ol class="carousel-indicators">
                    <li
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="0"
                        class="active"
                    ></li>
                    <li
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="1"
                    ></li>
                    <li
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="2"
                    ></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img
                            src="../../../../../public/themes/assets/compiled/png/1.png"
                            class="d-block w-100"
                            alt="..."
                            style="height: 250px"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>
                                Nulla vitae elit libero, a pharetra augue mollis
                                interdum.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img
                            src="../../../../../public/themes/assets/compiled/png/2.png"
                            class="d-block w-100"
                            alt="..."
                            style="height: 250px"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>
                                Nulla vitae elit libero, a pharetra augue mollis
                                interdum.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img
                            src="../../../../../public/themes/assets/compiled/png/3.png"
                            class="d-block w-100"
                            alt="..."
                            style="height: 250px"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>
                                Nulla vitae elit libero, a pharetra augue mollis
                                interdum.
                            </p>
                        </div>
                    </div>
                </div>
                <a
                    class="carousel-control-prev"
                    href="#carouselExampleCaptions"
                    role="button"
                    data-bs-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a
                    class="carousel-control-next"
                    href="#carouselExampleCaptions"
                    role="button"
                    data-bs-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>

    <h5 class="pb-1 mb-4">Images caps & overlay</h5>
    <div
        class="row row-cols-1 row-cols-md-4 g-4 mb-5"
        v-for="(event, index) in store.events"
        :key="event.id"
    >
        <div class="col">
            <div class="card h-100">
                <img
                    class="card-img-top"
                    :src="event.banner"
                    alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">
                        {{ event.start_date_formatted }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
