<script setup>
import { useEventCategoryStore } from "@/domains/event-category/stores/event-category";
import { useEventFormatStore } from "@/domains/event-format/stores/event-format";
import { useEventStore } from "@/domains/event/stores/event";
import { quillOptions } from "@/support/helper";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import { format } from "date-fns";
import { computed, onMounted, ref } from "vue";

const store = useEventStore();
const eventCategoryStore = useEventCategoryStore();
const eventFormatStore = useEventFormatStore();
const disableSubmit = ref(false);
const types = ref([
    { value: "public", name: "Public" },
    { value: "private", name: "Private" },
]);
const event = ref({
    event_category_id: "",
    event_format_id: "",
    type: "public",
    name: "",
    start_date: format(new Date(), "yyyy-MM-dd HH:mm"),
    finish_date: format(new Date(), "yyyy-MM-dd HH:mm"),
    place: "",
    address: "",
    city: "",
    description: "",
    terms_condition: "",
    event_link: "",
});
const rules = computed(() => ({
    event: {
        event_category_id: { required },
        event_format_id: { required },
        name: { required },
    },
}));
const validator = useVuelidate(rules, { event });

onMounted(() => {
    eventFormatStore.get().then(() => {
        event.value.event_format_id = eventFormatStore.eventFormats[0]?.id;
    });
    eventCategoryStore.get().then(() => {
        event.value.event_category_id =
            eventCategoryStore.eventCategories[0]?.id;
    });
});

async function saveDraft() {
    const isValidated = await validator.value.$validate();
    if (isValidated) {
        disableSubmit.value = true;
        await store.store(event.value).then(() => {
            disableSubmit.value = false;
        });
    }
}
</script>

<template>
    <div class="mb-3">
        <label class="form-label" for="event_name"
            >Event Name<span class="text-danger">*</span></label
        >
        <input
            class="form-control"
            id="name"
            type="text"
            :class="{ 'is-invalid': validator.event.name.$error }"
            v-model="event.name"
            @keyup.enter="add()"
        />
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="event_format" class="form-label"
                    >Event Format</label
                >
                <select
                    class="form-select"
                    id="event_format"
                    v-model="event.event_format_id"
                    :class="{
                        'is-invalid': validator.event.event_format_id.$error,
                    }"
                >
                    <option selected value="">Select Event Format</option>
                    <option
                        v-for="(
                            eventFormat, index
                        ) in eventFormatStore.eventFormats"
                        :key="index"
                        :value="eventFormat.id"
                    >
                        {{ eventFormat.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mb-3">
                <label for="event_category" class="form-label"
                    >Event Category</label
                >
                <select
                    class="form-select"
                    id="event_category"
                    v-model="event.event_category_id"
                    :class="{
                        'is-invalid': validator.event.event_category_id.$error,
                    }"
                >
                    <option selected value="">Select Event Category</option>
                    <option
                        v-for="(
                            eventCategory, index
                        ) in eventCategoryStore.eventCategories"
                        :key="index"
                        :value="eventCategory.id"
                    >
                        {{ eventCategory.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="form-label" for="start_date"
                    >Start Date<span class="text-danger">*</span></label
                >
                <input
                    class="form-control"
                    id="start_date"
                    type="datetime-local"
                    v-model="event.start_date"
                    required
                />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="form-label" for="finish_date">Finish Date</label>
                <input
                    class="form-control"
                    id="finish_date"
                    type="datetime-local"
                    v-model="event.finish_date"
                />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="mb-3">
                <label class="form-label" for="place">Place</label>
                <input
                    class="form-control"
                    id="place"
                    type="text"
                    v-model="event.place"
                />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mb-3">
                <label class="form-label" for="address">Address</label>
                <input
                    class="form-control"
                    id="address"
                    type="text"
                    v-model="event.address"
                />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="mb-3">
                <label class="form-label" for="city">City</label>
                <input
                    class="form-control"
                    id="city"
                    type="text"
                    v-model="event.city"
                />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="form-label" for="event_link"
                    >Event Link<span class="text-danger">*</span></label
                >
                <div class="input-group">
                    <span class="input-group-text" id="link-event"
                        >https://example.com/users/</span
                    >
                    <input
                        type="text"
                        class="form-control"
                        placeholder="URL"
                        id="event_link"
                        aria-describedby="link-event"
                        v-model="event.event_link"
                        @keyup.enter="add()"
                    />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="form-label" for="types"
                    >Type<span class="text-danger">*</span></label
                >
                <select class="form-select" v-model="event.type">
                    <option
                        v-for="(type, index) in types"
                        :key="index"
                        :value="type.value"
                    >
                        {{ type.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <QuillEditor
            class="quill-editor"
            id="description"
            v-model:content="event.description"
            :options="quillOptions()"
            contentType="html"
        ></QuillEditor>
    </div>

    <div class="mb-3">
        <label class="form-label" for="terms_condition"
            >Terms and Condition</label
        >
        <QuillEditor
            class="quill-editor"
            id="terms_condition"
            v-model:content="event.terms_condition"
            :options="quillOptions()"
            contentType="html"
        ></QuillEditor>
    </div>

    <button
        class="btn btn-secondary btn-block me-sm-2"
        @click="saveDraft()"
        :disabled="disableSubmit"
    >
        Save Draft
    </button>
</template>
