<script setup>
const props = defineProps(["id"]);
</script>
<template>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Detail Event</h3>
                    <p class="text-subtitle text-muted">
                        Navbar will appear on the top of the page.
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav
                        aria-label="breadcrumb"
                        class="breadcrumb-header float-start float-lg-end"
                    >
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link to="/dashboard">
                                    <span>Dashboard</span>
                                </router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manage-events">
                                    <span>Events</span>
                                </router-link>
                            </li>
                            <li
                                class="breadcrumb-item active"
                                aria-current="page"
                            >
                                Detail Event
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="nav-item" role="presentation">
                        <router-link
                            :to="{
                                name: 'manage-events.show',
                                params: {
                                    id: props.id,
                                },
                            }"
                            class="nav-link"
                            active-class="active"
                            >Detail Event</router-link
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <router-link
                            :to="{
                                name: 'manage-events.tickets',
                                params: {
                                    id: props.id,
                                },
                            }"
                            class="nav-link"
                            active-class="active"
                            >Ticket</router-link
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <router-link
                            :to="{
                                name: 'manage-events.promo',
                                params: {
                                    id: props.id,
                                },
                            }"
                            class="nav-link"
                            active-class="active"
                            >Promo</router-link
                        >
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <router-view></router-view>
                </div>
            </div>
        </section>
    </div>
</template>
