<script setup>
import { useCategoryStore } from "@/domains/category/stores/category"
import { useCompanyStore } from "@/domains/company/stores/company"
import { useCustomerStore } from "@/domains/customer/stores/customer"
import { useMaterialStore } from "@/domains/material/stores/material"
import { useSampleOrderStore } from "@/domains/sample-order/stores/sample-order"
import { useSampleOrderSortDataStore } from "@/domains/sample-order/stores/sample-order-sort-data"
import { useStaffStore } from "@/domains/staff/stores/staff"
import { useTagStore } from "@/domains/tag/stores/tag"
import { __ } from "@/support/helper"
import Datepicker from "@vuepic/vue-datepicker"
import { Modal } from "bootstrap"
import { storeToRefs } from "pinia"
import { computed, onMounted, ref, watch } from "vue"

const store = useSampleOrderStore()
const companyStore = useCompanyStore()
const customerStore = useCustomerStore()
const categoryStore = useCategoryStore()
const materialStore = useMaterialStore()
const tagStore = useTagStore()
const staffStore = useStaffStore()
const sampleOrderSortData = useSampleOrderSortDataStore()

const showRevisionFilter = ref(false)
const { showFilterModal } = storeToRefs(store)

const assignees = computed(() => {
  let assignees = []

  if (staffStore.staff.length > 0) {
    assignees = staffStore.staff.filter((assignee) => assignee.department.name === "RND")
  }
  return assignees
})

const customerAssignees = computed(() => {
  let customerAssignees = []

  if (staffStore.staff.length > 0) {
    customerAssignees = staffStore.staff.filter((assignee) => assignee.department.name === "Marketing")
  }
  return customerAssignees
})

let modal = Modal

onMounted(() => {
  modal = new Modal("#filterModal")
  document.getElementById("filterModal")?.addEventListener("hidden.bs.modal", () => {
    store.showFilterModal = false
  })
  store.getRevisionNumbers()
  companyStore.get()
  customerStore.get()
  categoryStore.get()
  materialStore.get()
  tagStore.get()
  staffStore.get()
  sampleOrderSortData.getTypes()
})

watch(showFilterModal, (showFilterModal) => {
  showFilterModal ? modal.show() : modal.hide()
})

watch(
  () => store.filters,
  (filters) => {
    showRevisionFilter.value = filters.request_type === "revision"

    if (filters.request_type !== "revision") {
      filters.revision_number = null
    }
  },
  {
    deep: true,
  }
)

const submitFilter = async () => {
  store.showFilterModal = false
  await store.paginate(store.filters)
}
</script>

<template>
  <div class="modal fade" id="filterModal" aria-labelledby="filterModalLabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">{{ __("filter") }}</h5>
          <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label" for="select-request-type">{{ __("order_date") }}</label>
            <Datepicker
              :enableTimePicker="false"
              modelType="yyyy-MM-dd"
              range
              v-model="store.filters.dates"
            ></Datepicker>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-request-type">{{ __("sort_data") }}</label>

            <div class="row">
              <div class="col">
                <select class="form-select" id="select-sort-data" v-model="store.filters.sort_data">
                  <option :value="null">&ndash; {{ __("sort_data") }} &ndash;</option>
                  <option
                    v-for="(sortDataType, index) in sampleOrderSortData.types"
                    :key="index"
                    :value="sortDataType.value"
                  >
                    {{ sortDataType.label }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-request-type">{{ __("request_type") }}</label>
            <select class="form-select" id="select-request-type" v-model="store.filters.request_type">
              <option :value="null">&ndash; {{ __("all_request_type") }} &ndash;</option>
              <option v-for="(requestType, index) in store.requestType" :key="index" :value="requestType">
                {{ __(requestType) }}
              </option>
            </select>
          </div>

          <div class="mb-3" v-if="showRevisionFilter">
            <label class="form-label" for="select-revision-number">{{ __("revision_number") }}</label>
            <select class="form-select" id="select-revision-number" v-model="store.filters.revision_number">
              <option :value="null">&ndash; {{ __("all_revision_number") }} &ndash;</option>
              <option v-for="(revisionNumber, index) in store.revisionNumbers" :key="index" :value="revisionNumber">
                {{ `${__("revision")} ${revisionNumber}` }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-company">{{ __("company") }}</label>
            <select class="form-select" id="select-company" v-model="store.filters.company">
              <option :value="null">&ndash; {{ __("all_company") }} &ndash;</option>
              <option v-for="(company, index) in companyStore.companies" :key="index" :value="company.id">
                {{ company.name }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-customer">{{ __("customer") }}</label>
            <select class="form-select" id="select-customer" v-model="store.filters.customer">
              <option :value="null">&ndash; {{ __("all_customer") }} &ndash;</option>
              <option v-for="(customer, index) in customerStore.customers" :key="index" :value="customer.id">
                {{ customer.name }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-assignee">{{ __("staff") }}</label>
            <select class="form-select" id="select-assignee" v-model="store.filters.assignee">
              <option :value="null">&ndash; {{ __("all_staff") }} &ndash;</option>
              <option v-for="(assignee, index) in assignees" :key="index" :value="assignee.id">
                {{ assignee.name }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-customer-assignee">{{ __("marketing") }}</label>
            <select class="form-select" id="select-customer-assignee" v-model="store.filters.customer_assignee">
              <option :value="null">&ndash; {{ __("all_marketing") }} &ndash;</option>
              <option v-for="(assignee, index) in customerAssignees" :key="index" :value="assignee.id">
                {{ assignee.name }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-category">{{ __("category") }}</label>
            <select class="form-select" id="select-category" v-model="store.filters.category">
              <option :value="null">&ndash; {{ __("all_category") }} &ndash;</option>
              <option v-for="(category, index) in categoryStore.categories" :key="index" :value="category.id">
                {{ category.name }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-tag">{{ __("tag") }}</label>
            <select class="form-select" id="select-tag" v-model="store.filters.tag">
              <option :value="null">&ndash; {{ __("all_tag") }} &ndash;</option>
              <option v-for="(tag, index) in tagStore.tags" :key="index" :value="tag.id">
                {{ tag.name }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="select-material">{{ __("material") }}</label>
            <v-select
              :options="materialStore.materials"
              label="label"
              v-model="store.filters.material"
              :reduce="(materials) => materials.id"
            ></v-select>
          </div>

          <button class="btn btn-block btn-primary" @click="submitFilter()">{{ __("filter") }}</button>
        </div>
      </div>
    </div>
  </div>
</template>
