<script setup>
import { useEventStore } from "@/domains/event/stores/event";
import { useEventStatesStore } from "@/domains/event/stores/event-states";
import { useAuthStore } from "@/domains/user/stores/authStore";
import Paginator from "@/support/components/Paginator.vue";
import { onMounted } from "vue";
// import FilterModal from "./FilterModal.vue";
import Modal from "./Modal.vue";

const eventStore = useEventStore();
const authStore = useAuthStore();
const eventStatesStore = useEventStatesStore();

onMounted(() => {
    eventStore.paginate();
    eventStatesStore.getTypes();
});

const add = () => {
    eventStore.editing = false;
    eventStore.creatingNew = true;
    eventStore.showModal = true;
};

const showFilter = () => {
    eventStore.showFilterModal = true;
};
</script>
<template>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Manage Events</h3>
                    <p class="text-subtitle text-muted">
                        Navbar will appear on the top of the page.
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav
                        aria-label="breadcrumb"
                        class="breadcrumb-header float-start float-lg-end"
                    >
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <router-link to="/dashboard">
                                    <span>Dashboard</span>
                                </router-link>
                            </li>
                            <li
                                class="breadcrumb-item active"
                                aria-current="page"
                            >
                                Manage Events
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="row">
            <div class="col-12">
                <div class="card">
                    <div v-if="eventStore.events.length > 0">
                        <div class="card-header">
                            <ul class="nav nav-pills flex-column flex-md-row">
                                <li class="nav-item">
                                    <button
                                        class="btn btn-primary"
                                        v-if="authStore.can('add_event')"
                                        @click="add()"
                                    >
                                        <i class="fa-solid fa-plus"></i>
                                        Add new event
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <hr />
                        <div class="card-content">
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table table-lg">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Format</th>
                                                <th>Category</th>
                                                <th>Type</th>
                                                <th>State</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(
                                                    event, index
                                                ) in eventStore.events"
                                                :key="event.id"
                                            >
                                                <td>
                                                    {{
                                                        eventStore.meta.from +
                                                        index
                                                    }}.
                                                </td>
                                                <td>{{ event.name }}</td>
                                                <td>
                                                    {{
                                                        event.event_format.name
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                        event.event_category
                                                            .name
                                                    }}
                                                </td>
                                                <td>{{ event.type }}</td>
                                                <td>
                                                    <span
                                                        v-html="
                                                            event.state_formatted
                                                        "
                                                    ></span>
                                                </td>
                                                <td class="text-center">
                                                    <RouterLink
                                                        :to="{
                                                            name: 'manage-events.show',
                                                            params: {
                                                                id: event.id,
                                                            },
                                                        }"
                                                    >
                                                        <button
                                                            type="button"
                                                            class="btn btn-icon btn-secondary btn-sm me-sm-1"
                                                        >
                                                            <i
                                                                class="bi bi-pencil-square"
                                                            ></i>
                                                        </button>
                                                    </RouterLink>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <Paginator :store="eventStore" />
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="card-body text-center">
                            <div class="mb-3 col-12 mb-0">
                                <div class="alert alert-warning">
                                    <h6 class="alert-heading mb-1">
                                        Data Not Found. Create Event Category
                                        Now
                                    </h6>
                                </div>
                            </div>
                            <button
                                class="btn btn-primary"
                                v-if="authStore.can('add_event')"
                                @click="add()"
                            >
                                Create Event Category
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <Modal></Modal>
</template>
