<script setup>
import { useEventStore } from "@/domains/event/stores/event";
import { Modal } from "bootstrap";
import { storeToRefs } from "pinia";
import { computed, onMounted, watch } from "vue";
import AddNew from "./AddNew.vue";

const store = useEventStore();
const { showModal } = storeToRefs(store);
const title = computed(() => {
    let title = "Event";

    if (store.creatingNew) {
        title = "Add new event";
    }

    return title;
});

let modal = Modal;

onMounted(() => {
    modal = new Modal("#eventModal");
    document
        .getElementById("eventModal")
        ?.addEventListener("hidden.bs.modal", () => {
            store.showModal = false;
            store.creatingNew = false;
        });
});

watch(showModal, (showModal) => {
    showModal ? modal.show() : modal.hide();
});
</script>

<template>
    <div
        class="modal fade"
        id="eventModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        aria-labelledby="eventModalLabel"
        aria-hidden="true"
        tabindex="-1"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">
                        {{ title }}
                    </h5>
                    <button
                        class="btn-close"
                        data-bs-dismiss="modal"
                        type="button"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <AddNew v-if="store.creatingNew"></AddNew>
                </div>
            </div>
        </div>
    </div>
</template>
