<script setup>
import { useEventCategoryStore } from "@/domains/event-category/stores/event-category";
import { useEventFormatStore } from "@/domains/event-format/stores/event-format";
import { useEventStore } from "@/domains/event/stores/event";
import { useAuthStore } from "@/domains/user/stores/authStore";
import { computed, onMounted, onUnmounted, ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import { quillOptions } from "@/support/helper";

const auth = useAuthStore();
const store = useEventStore();
const eventCategoryStore = useEventCategoryStore();
const eventFormatStore = useEventFormatStore();
const props = defineProps(["id"]);

const fileInput = ref(null);
const eventTypes = ref([
    { value: "public", title: "Public" },
    { value: "private", title: "Private" },
]);

const rulesDraft = computed(() => ({
    eventDraft: {
        name: { required },
    },
}));

const rulesUpdate = computed(() => ({
    eventUpdate: {
        event_category_id: { required },
        event_format_id: { required },
        start_date: { required },
        finish_date: { required },
        place: { required },
        address: { required },
        city: { required },
        event_link: { required },
        description: { required },
        terms_condition: { required },
    },
}));

let validatorDraft = useVuelidate(rulesDraft, { eventDraft: store.selectedEvent });
let validatorUpdate = useVuelidate(rulesUpdate, { eventUpdate: store.selectedEvent });

onMounted(() => {
    store.show(props.id).then(() => {
        store.getState();
        eventCategoryStore.get();
        eventFormatStore.get();
        store.editing = true;
        store.creatingNew = false;
        validatorDraft = useVuelidate(rulesDraft, { eventDraft: store.selectedEvent });
        validatorUpdate = useVuelidate(rulesUpdate, { eventUpdate: store.selectedEvent });
    });
});

onUnmounted(() => {
    store.editing = false;
});

async function saveDraft() {
    const isValidated = await validatorDraft.value.$validate();
    if (isValidated) {
        await store.update();
    }
}

async function updateEvent() {
    const isValidated = await validatorDraft.value.$validate();
    const isValidatedUpdate = await validatorUpdate.value.$validate();
    if (isValidated && isValidatedUpdate) {
        store.selectedEvent.state = "in_progress";
        await store.update();
    }
}

function destroy() {
    if (confirm("confirm_delete")) {
        store.destroy().then(() => {
            location.href = "/events";
        });
    }
}

const openFileInput = () => {
    fileInput.value.click();
};

const handleFileChange = async (event) => {
    const file = event.target.files[0];
    store.selectedEvent.banner = URL.createObjectURL(file);

    const formData = new FormData();
    formData.append("banner", file);

    store.updateBanner(store.selectedEvent.id, formData);
};
</script>

<template>
    <div class="card mb-4">
        <h5 class="card-header">Event Details</h5>
        <div class="card-body">
            <div class="d-flex align-items-start gap-4">
                <label
                    for="upload"
                    class="btn btn-primary me-2 mb-4 p-0"
                    tabindex="0"
                >
                    <img
                        :src="store.selectedEvent.banner"
                        alt="user-avatar"
                        class="d-none d-sm-block rounded"
                        height="340"
                        width="724"
                        @click="openFileInput"
                    />
                    <input
                        type="file"
                        ref="fileInput"
                        class="account-file-input"
                        @change="handleFileChange"
                        hidden
                        accept=".jpg,.jpeg,.png"
                    />
                </label>
                <p class="text-muted mb-0">
                    <div class="alert alert-primary" role="alert"><b>Clik pada gambar untuk upload banner</b></div>
                    Pastikan kamu menggunggah banner karena akan ditampilkan di
                    halaman event kamu. Kami merekomendasikan gambar 724x340px,
                    max. 2mb.
                </p>
            </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label" for="name"
                    >Event Name<span class="text-danger">*</span></label
                >
                <input
                    class="form-control"
                    id="name"
                    name="name"
                    type="text"
                    v-model="store.selectedEvent.name"
                    :class="{
                        'is-invalid': validatorDraft.eventDraft.name.$error,
                    }"
                    @keyup.enter="saveDraft()"
                    autofocus
                />
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="event_format" class="form-label"
                            >Event Format</label
                        >
                        <select
                            class="form-select"
                            id="event_format"
                            v-model="store.selectedEvent.event_format_id"
                            :class="{
                                'is-invalid':
                                    validatorUpdate.eventUpdate.event_format_id.$error,
                            }"
                        >
                            <option value="">Select Event Format</option>
                            <option
                                v-for="(
                                    eventFormat, index
                                ) in eventFormatStore.eventFormats"
                                :key="index"
                                :value="eventFormat.id"
                            >
                                {{ eventFormat.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="event_category" class="form-label"
                            >Event Category</label
                        >
                        <select
                            class="form-select"
                            id="event_category"
                            v-model="store.selectedEvent.event_category_id"
                            :class="{
                                'is-invalid':
                                    validatorUpdate.eventUpdate.event_category_id.$error,
                            }"
                        >
                            <option value="">Select Event Category</option>
                            <option
                                v-for="(
                                    eventCategory, index
                                ) in eventCategoryStore.eventCategories"
                                :key="index"
                                :value="eventCategory.id"
                            >
                                {{ eventCategory.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="start_date"
                            >Start Date</label
                        >
                        <input
                            class="form-control"
                            id="start_date"
                            type="datetime-local"
                            v-model="store.selectedEvent.start_date"
                            :class="{
                                'is-invalid': validatorUpdate.eventUpdate.start_date.$error,
                            }"
                            required
                        />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="finish_date"
                            >Finish Date</label
                        >
                        <input
                            class="form-control"
                            id="finish_date"
                            type="datetime-local"
                            v-model="store.selectedEvent.finish_date"
                            :class="{
                                'is-invalid':
                                    validatorUpdate.eventUpdate.finish_date.$error,
                            }"
                            required
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label" for="place">Place</label>
                        <input
                            class="form-control"
                            id="place"
                            type="text"
                            v-model="store.selectedEvent.place"
                            :class="{
                                'is-invalid': validatorUpdate.eventUpdate.place.$error,
                            }"
                        />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label" for="address">Address</label>
                        <input
                            class="form-control"
                            id="address"
                            type="text"
                            v-model="store.selectedEvent.address"
                            :class="{
                                'is-invalid': validatorUpdate.eventUpdate.address.$error,
                            }"
                        />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label" for="city">City</label>
                        <input
                            class="form-control"
                            id="city"
                            type="text"
                            v-model="store.selectedEvent.city"
                            :class="{
                                'is-invalid': validatorUpdate.eventUpdate.city.$error,
                            }"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="event_link"
                            >Event Link<span class="text-danger">*</span></label
                        >
                        <div class="input-group">
                            <span class="input-group-text" id="link-event"
                                >https://example.com/users/</span
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="URL"
                                id="event_link"
                                aria-describedby="link-event"
                                v-model="store.selectedEvent.event_link"
                                :class="{
                                    'is-invalid':
                                        validatorUpdate.eventUpdate.event_link.$error,
                                }"
                                @keyup.enter="add()"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label" for="types">Event Type</label>
                        <select
                            class="form-select"
                            v-model="store.selectedEvent.type"
                        >
                            <option
                                v-for="(type, index) in eventTypes"
                                :key="index"
                                :value="type.value"
                            >
                                {{ type.title }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <quill-editor
                    class="quill-editor"
                    id="description"
                    v-model:content="store.selectedEvent.description"
                    :options="quillOptions()"
                    contentType="html"
                ></quill-editor>
            </div>

            <div class="mb-3">
                <label class="form-label" for="terms_condition"
                    >Terms and Condition</label
                >
                <quill-editor
                    class="quill-editor"
                    id="terms_condition"
                    v-model:content="store.selectedEvent.terms_condition"
                    :options="quillOptions()"
                    contentType="html"
                ></quill-editor>
            </div>
            <button
                class="btn btn-secondary me-2"
                @click="saveDraft()"
            >
                Save Draft
            </button>

            <button class="btn btn-primary" @click="updateEvent()">
                Update Event
            </button>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Delete Event</h5>
        <div class="card-body">
            <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                    <h6 class="alert-heading mb-1">
                        Are you sure you want to cancel your event?
                    </h6>
                    <p class="mb-0">
                        Once you cancel your event, there is no going back.
                        Please be certain.
                    </p>
                </div>
            </div>
            <button type="submit" class="btn btn-danger deactivate-account">
                Cancel Event
            </button>
        </div>
    </div>
</template>
