<script setup></script>
<template>
    <div class="container flex-grow-1">
        <div class="row gy-0 gx-5">
            <h6 class="py-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style2 mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Library</a>
                        </li>
                        <li class="breadcrumb-item active">Data</li>
                    </ol>
                </nav>
            </h6>
            <div class="col-md-8">
                <div class="card h-25">
                    <img
                        class="card-img h-100 d-block"
                        src="../../../../../public/assets/img/elements/2.jpg"
                        alt="Card image cap"
                    />
                </div>
                <div class="demo-inline-spacing mt-5">
                    <div
                        class="list-group list-group-horizontal-md text-md-center"
                    >
                        <a
                            class="list-group-item list-group-item-action active"
                            id="home-list-item"
                            data-bs-toggle="list"
                            href="#horizontal-home"
                            >Home</a
                        >
                        <a
                            class="list-group-item list-group-item-action"
                            id="settings-list-item"
                            data-bs-toggle="list"
                            href="#horizontal-settings"
                            >Settings</a
                        >
                    </div>
                    <div class="tab-content px-0 mt-0">
                        <div
                            class="tab-pane fade show active"
                            id="horizontal-home"
                        >
                            Donut sugar plum sweet roll biscuit. Cake oat cake
                            gummi bears. Tart wafer wafer halvah gummi bears
                            cheesecake. Topping croissant cake sweet roll.
                            Dessert fruitcake gingerbread halvah marshmallow
                            pudding bear claw cheesecake. Bonbon dragée cookie
                            gummies. Pudding marzipan liquorice. Sugar plum
                            dragée cupcake cupcake cake dessert chocolate bar.
                            Pastry lollipop lemon drops lollipop halvah
                            croissant. Pastry sweet gingerbread lemon drops
                            topping ice cream.
                        </div>
                        <div class="tab-pane fade" id="horizontal-settings">
                            Marzipan cake oat cake. Marshmallow pie chocolate.
                            Liquorice oat cake donut halvah jelly-o. Jelly-o
                            muffin macaroon cake gingerbread candy cupcake. Cake
                            lollipop lollipop jelly brownie cake topping
                            chocolate. Pie oat cake jelly. Lemon drops halvah
                            jelly cookie bonbon cake cupcake ice cream. Donut
                            tart bonbon sweet roll soufflé gummies biscuit.
                            Wafer toffee topping jelly beans icing pie apple pie
                            toffee pudding. Tiramisu powder macaroon tiramisu
                            cake halvah.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 8rem">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card
                                title.
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">
                                With supporting text below as a natural lead-in
                                to additional content.
                            </p>
                            <a href="javascript:void(0)" class="btn btn-primary"
                                >Go somewhere</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
